@(zz: String)(implicit flash: Flash)

    @main("Play") {
        <h2>Play and Scala.js share same message</h2>
        <ul>
            <li>Play shouts out: <em>@zz</em></li>
            <li>Scala.js shouts out: <em>"message" + 2121</em></li>
        </ul>

        <p id="randomText">Click for a new random number: <span id="random">4</span></p>

        <script src="@routes.Assets.versioned("javascript/basicStuff.js")"></script>

@*        <table>*@
@*        @for(i <- 1 to 12) {*@
@*            <tr><td>@i</td></tr>*@
@*        }*@
@*        </table>*@
@*        @(if(true) "a" else "b")*@
    }