@()(implicit header: RequestHeader)

@main("Login") {
    <h2>Login</h2>

    <form method="get" action="validateLoginGet">
        <h2>Login with GET</h2>
        <br>
        Username: <input type="text" name="username"/>
            <br>
        Password: <input type="password" name="password"/>
            <br>
        <input type="submit"/>
    </form>

    <form method="post" action="@routes.TaskListBegin.validateLoginPost()">
        @helper.CSRF.formField
        <h2>Login with POST</h2>
        <br>
        Username: <input type="text" name="username"/>
        <br>
        Password: <input type="password" name="password"/>
        <br>
        <input type="submit"/>
    </form>

    <form method="post" action="@routes.TaskListBegin.createUser()">
        @helper.CSRF.formField
        <h2>Create user</h2>
        <br>
        Username: <input type="text" name="username"/>
        <br>
        Password: <input type="password" name="password"/>
        <br>
        <input type="submit"/>
    </form>
}