@()

@main("Login"){
<h2>Login</h2>
<form method="get" action="validateGet1">
    <h3>Login with GET</h3>
    Username: <input type="text" name="username"/>
    <br>
    Password: <input type="password" name="password"/>
    <br>
    <input type="submit"/>
</form>

@*<form method="post" action="@routes.TaskController.validateLoginPost()">*@
@*    <h3>Login with POST</h3>*@
@*    Username: <input type="text" name="username"/>*@
@*    <br>*@
@*    Password: <input type="password" name="password"/>*@
@*    <br>*@
@*    <input type="submit"/>*@
@*</form>*@

@*<form method="post" action="@routes.TaskController.createUser()">*@
@*    <h3>Create user</h3>*@
@*    Username: <input type="text" name="username"/>*@
@*    <br>*@
@*    Password: <input type="password" name="password"/>*@
@*    <br>*@
@*    <input type="submit"/>*@
@*</form>*@
}